<!-- contenedor central izquiero -->
<div class="left">
    <!-- contenedor de la imagen, este servira para alvergar la imagen cuando este en modo "movil" -->
    <div class="imagen_left">
        <!-- imagen que se mostrara en el modo desktop -->
        <img src="./../../../assets/images/image-web-3-desktop.jpg" class="imagen_left" />
    </div>
    <!-- contenedor que se encuentra bajo la imagen -->
    <div class="contend_down">
        <!-- este contenedor albergara los dos lados del contenido -->
        <div class="contend_down_two">
            <!-- contenido izquierdo, que es el texto -->
            <div class="down_one">
                <p>The Bright Future of Web 3.0?</p>
            </div>
            <!-- contenido derecho que es el texto y el boton -->
            <div class="down_two">
                <p>
                    We dive into the next evolution of the web that claims to put
                    the power of the platforms back into the hands of the people.
                    But is it really fulfilling its promise?
                </p>
                <button class="button_down">READ MORE</button>
            </div>
        </div>
    </div>
</div>