/* estilos para el contenedor general de toda la apgina */
.contenedor {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  /* estilo para el contenedor general de la pagina, que tiene los componentes centrales */
  .contonedor_center {
    display: flex;
    margin-left: 10.7%;
    margin-right: 11.9%;
    margin-top: -15px;
    margin-bottom: 15px;
  }
  
  /* estilo adicionales para los contenedores centrales */
  .left {
    display: block;
    width: 115%;
    overflow: hidden;
    height: 68vh;
    margin-top: 0px;
  }
  
  .left img {
    width: 100%;
    height: 60%;
  }
  
  .right {
    width: 45%;
    background: rgb(6, 6, 24);
    height: 57vh;
    margin: 15px;
    overflow: hidden;
  }
  /* estilo adicionales para los contenedores centrales */
  
  
  /* De aca en adelante seran las funciones responsivas de la pagina, 
  cada componente se acoplara a laas dimenciones de la pantalla en la que se encuentre */
  
  /* para pantallas de 1275px de ancho */
  @media (max-width: 1275px) {
  
    .contonedor_center {
      margin-left: 9.9%;
      margin-right: 13%;
      margin-bottom: -10px;
    }
  }
  
  
  /* para pantallas de 1095px de ancho */
  @media (max-width: 1095px) {
    .contenedor {
      margin-left: 2%;
      margin-right: 5%;
    }
    
    .contonedor_center {
      margin-left: 2%;
      margin-right: 5%;
    }
  }
  
  
  /* para pantallas de 795px de ancho */
  @media (max-width: 795px) {
    .contonedor_center {
      display: block;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 0px;
      margin-bottom: 35px;
    }
  
    .contenedor {
      margin-left: 10%;
      margin-right: 10%;
    }
  
    .left {
      display: block;
      width: 100%;
      overflow: visible;
      height: 117vh;
      margin-top: 5px;
    }
  
  }
  
  
  /* para pantallas de 600px de ancho */
  @media (max-width: 600px) {
    .contonedor_center {
      display: block;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 0px;
      margin-bottom: 35px;
    }
  
    .left {
      display: block;
      width: 100%;
      overflow: visible;
      height: 117vh;
      margin-top: 5px;
    }
  
    .contenedor {
      margin-left: 2%;
      margin-right: 2%;
    }
  
  }
  
  /* para pantallas de 450px de ancho */
  @media (max-width: 450px) {
    .contonedor_center {
      display: block;
    }
  }