<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desafio de Angular</title>
</head>

<body>
    <!-- contenedor que alberga el componente superior o menu -->
    <div class="contenedor">
        <!-- top o menu -->
        <app-top></app-top>
    </div>

    <!-- contenedor que alberga los componentes centrales, izquierdo y derecho -->
    <div class="contonedor_center">

        <!-- contenedor izquierdo -->
        <div class="left">
            <!-- componente izquierdo -->
            <app-left></app-left>
        </div>

        <!-- contenedor derecho -->
        <div class="rigth">
            <!-- componente derecho -->
            <app-right></app-right>
        </div>

    </div>

    <!-- contenedor que alberga el componente de abajo o footer -->
    <div class="contenedor">
        <!-- componente footer -->
        <app-down></app-down>
    </div>

</body>

</html>