<!-- contenedor central derecho -->
<div class="right">
    <!-- contenedor de el titulo New y el texto -->
    <div class="content_rigth">
        <!-- titulo -->
        <h1>New</h1>
        <!-- contenedor del texo -->
        <div class="content_rigth_text">
            <!-- texto 1 -->
            <div class="text_rigth">
                <h3>Hydrogen VS Electric Cars</h3>
                <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
            </div>
            <!-- linea -->
            <hr />
            <!-- texto 2-->
            <div class="text_rigth">
                <h3>The Downsides of AI Artistry</h3>
                <p>What are the possible adverse effects of on-demand AI image generation?</p>
            </div>
            <!-- linea -->
            <hr />
            <!-- texto 3-->
            <div class="text_rigth">
                <h3>Is VC Funding Drying Up?</h3>
                <p>Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
            </div>
        </div>
    </div>
</div>