<!-- El contenedor general -->
<div class="container_down_button_dad">
    <!-- contenedores internos que contienen la imagen y el texto -->
    <div class="container_down_button_left">
        <!-- imagen representativas -->
        <img src="./../../../assets/images/image-retro-pcs.jpg">
        <!-- contenedor del tesxto -->
        <div class="down_button_rigth">
            <h1>01</h1>
            <h3>Reviving Retro PCs</h3>
            <p>What happens when old PCs are given modern upgrades?</p>
        </div>
    </div>
    <!-- contenedores internos que contienen la imagen y el texto -->
    <div class="container_down_button_center">
        <!-- imagen representativas -->
        <img src="./../../../assets/images/image-top-laptops.jpg">
        <!-- contenedor del tesxto -->
        <div class="down_button_rigth">
            <h1>02</h1>
            <h3>Top 10 Laptops of 2022</h3>
            <p>Our best picks for various needs and budgets.</p>
        </div>
    </div>
    <!-- contenedores internos que contienen la imagen y el texto -->
    <div class="container_down_button_rigth">
        <!-- imagen representativas -->
        <img src="./../../../assets/images/image-gaming-growth.jpg">
        <!-- contenedor del tesxto -->
        <div class="down_button_rigth">
            <h1>03</h1>
            <h3>The Growth of Gaming</h3>
            <p>How the pandemic has sparked fresh opportunities.</p>
        </div>
    </div>
</div>